# =========================
# Go 
# =========================
bin/
*.out

# =========================
# OS files
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Env files
# =========================
.env